---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="refresh" content="0; url=/" />
    <title>Redirecting to INDOCOCOPEAT</title>
  </head>
  <body>
    <script is:inline>
      window.location.replace('/');
    </script>
    <p>Redirecting to <a href="/">INDOCOCOPEAT Home</a>.</p>
  </body>
</html>
